{% extends 'base.html' %}
{% block content %}
<div>
    <div class="content_container">
        <p>
            Час Земли (англ. Earth Hour) — ежегодное международное событие, проводимое Всемирным фондом дикой природы (WWF).
            Проводится в последнюю или, во избежание совпадения с Великой субботой, предпоследнюю субботу марта и призывает
            всех — частных лиц, организации, школы, муниципальные образования, коммерческие учреждения — выключить свет на
            один час, чтобы стимулировать интерес к проблеме изменения климата, светового загрязнения и другим экологическим темам.
        </p>
        <div class="image">
            <img src="static/images/hour2.png">
        </div>
    </div>
    <div class="content_container">
        <p>
            Впервые это мероприятие было организовано Всемирным фондом дикой природы в Австралии совместно
            с изданием «The Sydney Morning Herald» в 2007 году, уже на следующий год получило мировую поддержку,
            а в 2009 году уже стало самой массовой акцией в истории человечества — по оценкам WWF, оно коснулось
            более миллиарда жителей планеты. В России акция проводится с 2009 года.
        </p>
       <div class="image">
         <img src="static/images/hour3.png">
       </div>
    </div>
</div>



<div>
    <div class="content_container">
     <p>
          Час Земли (англ. Earth Hour) — ежегодное международное событие, проводимое Всемирным фондом дикой природы (WWF).
           Проводится в последнюю или, во избежание совпадения с Великой субботой, предпоследнюю субботу марта и призывает
          всех — частных лиц, организации, школы, муниципальные образования, коммерческие учреждения — выключить свет на
           один час, чтобы стимулировать интерес к проблеме изменения климата, светового загрязнения и другим экологическим темам.
        </p>
        <div class="image">
            <img src="static/images/hour2.png">
    </div>
    </div>
    <div class="content_container">
        <p>
           Час Земли (англ. Earth Hour) — ежегодное международное событие, проводимое Всемирным фондом дикой природы (WWF).
            Проводится в последнюю или, во избежание совпадения с Великой субботой, предпоследнюю субботу марта и призывает
            всех — частных лиц, организации, школы, муниципальные образования, коммерческие учреждения — выключить свет на
            один час, чтобы стимулировать интерес к проблеме изменения климата, светового загрязнения и другим экологическим темам.
        </p>
        <div class="image">
            <img src="static/images/hour2.png">
        </div>
    </div>
</div>

{% endblock %}