{% extends 'base.html' %}
{% block content %}

    <div class="content_container">
        <p>
            Час Земли (англ. Earth Hour) — ежегодное международное событие, проводимое Всемирным фондом дикой природы (WWF).
            Проводится в последнюю или, во избежание совпадения с Великой субботой, предпоследнюю субботу марта и призывает
            всех — частных лиц, организации, школы, муниципальные образования, коммерческие учреждения — выключить свет на
            один час, чтобы стимулировать интерес к проблеме изменения климата, светового загрязнения и другим экологическим темам.
        </p>
        <div class="image">
            <img src="static/images/hour2.png">
        </div>
    </div>
    <div class="content_container">
        <p>
            Впервые это мероприятие было организовано Всемирным фондом дикой природы в Австралии совместно
            с изданием «The Sydney Morning Herald» в 2007 году, уже на следующий год получило мировую поддержку,
            а в 2009 году уже стало самой массовой акцией в истории человечества — по оценкам WWF, оно коснулось
            более миллиарда жителей планеты. В России акция проводится с 2009 года.
        </p>
       <div class="image">
         <img src="static/images/hour3.png">
       </div>
    </div>





    <div class="content_container">
     <p>
         В 2008 году Час Земли поддержали 35 стран всего мира, более 400 городов. Была выключена подсветка многих известных
         памятников по всему миру. Официальный веб-сайт, earthhour.org, получил более 6,7 миллионов уникальных посетителей в течение
         недели перед проведением события.
        </p>
        <div class="image">
            <img src="static/images/hour5.png">
    </div>
    </div>
    <div class="content_container">
        <p>
           В 2023 году Час Земли состоится 25 марта, в субботу, в 20:30. Он проводится в предпоследнюю или последнюю
            субботу марта. Каждый год у акции определяется тема, в рамках которой каждый может поделиться проблемами
            в экологии в своем регионе и узнать, что именно он может сделать для сохранения Земли.
        </p>
        <div class="image">
            <img src="static/images/hour6.png">
        </div>
    </div>
{% endblock %}